.personal-img-sml {
    border-radius: 17px;
}
.users-menu-header {
    background-color: #ffffff;
    /*border-top-left-radius: 10px;
border-top-right-radius: 10px;*/
    border-style: none;
    border-bottom-style: solid;
    font-weight: bold;
    border-width: 0.5px;
    border-color: dimgrey;
    display: flex;
    flex-flow: row;
    align-items: center;
}

.users-menu-header-texts {
    height: 50px;
    width: 85%;
    display: flex;
    flex-flow: row;
    align-items: center;
    text-align: left;
    padding: 0px;
    padding-left: 3%;
    margin: 0px;
}
.users-menu-header-buttons{
    width: 15%;
}

.users-menu-body {

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.users-menu-body-foter {
    background-color: #ffffff;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-bottom-style: solid;
    border-color: dimgrey;
    border-width: 0.5px;
}

.users-menu-body-foter button {
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 0.1%;
    padding-bottom: 0.1%;
    margin-left: 2%;
    margin-right: 2%;
}

.users-menu-row {
    border-width: 0px;
    border-bottom-width: 0.5px;
    border-style: solid;
    border-color: darkgray;
    display: flex;
    flex-flow: row;
    align-items: center;
}

.users-menu-row:hover {
    background-color: rgb(236, 236, 236);
}

.user-row-texts {
    width: 85%;
    height: 50px;
    display: flex;
    flex-flow: row;
    align-items: center;
    text-align: left;
    padding: 0px;
    padding-left: 3%;
    margin: 0px;
}

.user-title {
    width: 25%;
}

.user-teacher {
    width: 25%;
}

.user-date {
    width: 25%;
}

.user-time {
    width: 25%;
}

.user-row-buttons {
    width: 15%;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-end;
    justify-self: end;
    padding-right: 5%;
}

.main-top-button {
    display: flex;
    flex-flow: row;
    justify-content: right;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 0px;
}

#error-field {
    color: #d12121;
    font-size: 1em;
    margin-top: 0px;
}

.personal-img {
    border-radius: 100px;
}

.personal-img-sml {
    border-radius: 17px;
}

#input_img {
    width: 200px;
}

#add-user-email {
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .users-menu-row {
        border-width: 0px;
        border-bottom-width: 0.5px;
        border-style: solid;
        border-color: darkgray;
        display: flex;
        flex-flow: row;
        align-items: center;
    }
    .users-menu-header-texts {
        width: 90%;
    }
    .users-menu-header-buttons{
        width: 10%;
    }
    .user-row-texts {
        width: 90%;
    }
    .user-row-buttons {
        width: 10%;
    }

    .user-photo {
        width: 20%;
    }

    .user-tc {
        width: 0%;
        visibility: hidden;
    }

    .user-name {
        width: 40%;
    }

    .user-surname {
        width: 40%;
    }

    .user-department {
        width: 0%;
        visibility: hidden;
    }

    .user-number {
        width: 0%;
        visibility: hidden;
    }

    .user-email {
        width: 0%;
        visibility: hidden;
    }
}

